.feature-panel{
    --padding: 2rem;
    --max-width:25rem;
    position: relative;
    overflow: hidden;
    padding: var(--padding);
}

/* .feature-panel .content{
    padding: var(--padding);
} */

.feature-panel .title{
    font-size: var(--normal-body-size);
    margin-bottom: 1.5rem;
}

.feature-panel .subtitle{
    font-weight :var(--bold-font);
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
}

.feature-panel .description{
    margin-bottom: 2rem;
    font-family: var(--display-font);
    font-weight: var(--semi-bold-font);
    font-size: 1.25rem;
    line-height: 1.4em;
    letter-spacing: 0.012em;

}

.feature-panel .button{
    padding: 0.75rem 1.25rem;
}

.feature-panel .image{
    --width: 120%;
    left: 0rem;
    bottom: -2rem;
    width: var(--width);
    position: relative;
    display: block;
    margin-left:auto;
}


.feature-panel .characteristic-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap: 3rem;
    margin-bottom: 4rem;
    font-size: 1.25rem;
    text-align: center;
    list-style: none;
}

.feature-panel .characteristic{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-panel .number{
    --size:5rem;
    font-size: var(--size);
    font-family: var(--display-font);
    font-weight: var(--bold-font);
    line-height: 1;
}

.feature-panel .number .x{
    font-size: calc(var(--size) - 2rem);
}

.feature-panel .caption{
    font-weight: var(--bold-font);
}


.feature-panel .background-container{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: var(--z-negative);
}

.feature-panel .background-container .background{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* VARIACION PANEL (minimal-content)*/

.feature-panel.minimal-content{
    text-align: center;

}


.feature-panel.minimal-content .title{
    margin-bottom: 1.25rem;
}

.feature-panel.minimal-content .subtitle{
    font-size: var(--small-tittle-size);
    font-weight: var(--semi-bold-font);
    line-height: 1.08;
    margin-bottom: 1.25rem;
}

.feature-panel.minimal-content .link{
    margin-bottom: 1.25rem;
}
/* .feature-panel .apps-image{
    margin-inline: auto;
} */


.sub_grid .feature-panel{
    display: flex;
    flex-direction: column;
    align-items: center
}

.sub_grid .feature-panel .title , 
.sub_grid .feature-panel .description{
    font-size: 1.2rem;
}

@media screen and (min-width : 360px){
    .feature-panel{
        border-radius:1.25rem;
    }

    .feature-panel .subtitle{
        /* font-size: 4rem; */
    }
}

@media screen and (min-width : 734px){
    .feature-panel {
        --padding:2.5rem;
    }


    .feature-panel .content{
        box-sizing: content-box;
        max-width: var(--max-width);
        padding-right: 0;
    }

    .feature-panel .title{
        margin-bottom: var(--bigger-tittle-size);
    }

    .feature-panel .subtitle{
        margin-bottom: 1.5rem;
        font-size: 4rem;
    }

    .feature-panel .description{
        margin-bottom: 3.5rem;
    }

    .feature-panel .button{
        white-space: nowrap;
    }

    .feature-panel .image{
        width: 60%;
        --width: 32rem;
        --spacing:0rem;
        position: absolute;
        bottom: 2rem;
        left: calc(var(--width) + var(--spacing));
    }

    .feature-panel .break-line{
        display: none;
    }


    .feature-panel .number{
        --size: 6rem;
    }

    .feature-panel .caption.big{
        font-weight :var(--bold-font);
        font-size: 4rem;
        font-family: var(--display-font);
    }

    .feature-panel .characteristic-container{
        align-content: space-between;
    }

    .sub_grid .feature-panel .title , 
    .sub_grid .feature-panel .description{
    margin-bottom: 1rem;
}
}

@media screen and (min-width : 1024px){
    .feature-panel {
        --max-width:31.25rem;
    }

    .feature-panel .title{
        margin-bottom: 5.5rem;
    }

    
    .feature-panel .description{
        margin-bottom: 4.5rem;
    }

    .feature-panel .image{
        width: 52%;
        --width:45rem;
        --spacing:-2rem;
        bottom: -2rem;
    }

    .feature-panel .characteristic-container{
        align-items: center;
        align-content: center;
    }
    

    .sub_grid .feature-panel{
        display: flex;
    }

    .sub_grid .feature-panel .title{
        margin-bottom: 1rem;
    }
}


/*-------- CPU ---------*/

.feature-panel.cpu{
    background-image: linear-gradient(-135deg, #c6368a 0%, #679dc2 100%);
}

.feature-panel.cpu .subtitle .accent{
    color: #C48CFC;
}


/*-------- GPU ---------*/

/* .feature-panel.gpu .video{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: var(--z-negative);
} */


@media screen and (min-width : 734px){
    .feature-panel.gpu .grid{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
    }
    
    .feature-panel.gpu .content{
        max-width: initial;
    }

    .feature-panel.gpu .characteristic-container{
        gap: 0;
        padding-top: 3rem;
    }
}

@media screen and (min-width : 1024px){
    .feature-panel.gpu .grid{
        grid-template-columns: 1fr 1fr;
    }

    .feature-panel.gpu .subtitle{
        font-size: 5rem;
    }

    
}


/*-------- LEARNING ---------*/

.feature-panel.learning{
    background-image: linear-gradient(-10deg, #590a0d 0%,#10071c 100%);    
}

.feature-panel.learning .description{
    color: #a1a1a6;
}

.feature-panel.learning .title{
    margin-bottom: 4rem;
    font-size: 1.25rem;
    line-height: 1.4em;
    letter-spacing: 0.012em;
}

.feature-panel.learning .subtitle{
    margin-bottom: 0rem;
    font-family: var(--display-font);
    font-weight: var(--semi-bold-font);
    font-size: 1.25rem;
    line-height: 1.4em;
    letter-spacing: 0.012em;
}


@media screen and (min-width : 734px){
    

    .feature-panel.learning{
        background-image: linear-gradient(-135deg, #590a0d 0%,#10071c 100%);    
    }

    .feature-panel.learning .characteristic-container{
       display: flex;
    }

    .feature-panel.learning .characteristic{
        font-size: 1.05rem;
        font-weight :var(--bold-font);
    }

    .feature-panel.learning .subtitle{
        font-size: 1.5rem;
    }

    .feature-panel.learning .description{
        font-size: 1.5rem;
    }

    /* .feature-panel.learning .number{
        --size: 6rem;
    } */

    .feature-panel.learning .caption{
        font-weight :var(--bold-font);
        font-size: 1rem;
    }
}

/*-------- OS ---------*/

.feature-panel.big-sur .subtitle{
    font-size: var(--normal-tittle-size);
    line-height: 1.05;
}


/*-------- OS PANEL (Speed) ---------*/

.second-line,
.background-container{
    transition: opacity .5s;
}

.feature-panel.speed .description{
    margin-bottom: 3rem;
}

.feature-panel.speed .subtitle{
    text-align: center;
    line-height: 1;
    display: flex;
    flex-direction: column;
}

.feature-panel.speed .first-line{
    margin-bottom: 0.75rem;
}

.feature-panel.speed :is(.second-line , .background-container){
    opacity: 0.15;
}

.feature-panel.speed.is-active :is(.second-line , .background-container){
    opacity: initial;
}



@media screen and (min-width : 1024px){

    .feature-panel.speed .description{
        margin-bottom: 6rem;
    }

    .feature-panel.speed .subtitle{
        margin-inline: auto;
        font-size: 80px;
        
    }


}

/*-------- OS PANEL (Apps) ---------*/




.feature-panel.apps .apps-image{
    margin-inline: auto;
    width: 100%;
    padding: 0.5rem;
}

@media screen and (min-width : 734px){
    .feature-panel.apps .apps-image{
        padding: initial;
        margin-top: 2rem;
        width: 120%;
        margin-left: -2rem;
        
    }
}

@media screen and (min-width : 1024px){
    .feature-panel.apps .apps-image{
        width: 80%;
        margin-inline: auto;
    }
}

/*-------- DESIGN PANEL ---------*/

.feature-panel.design{
    background:#151516;
}

.feature-panel.design .subtitle{
    background: linear-gradient(-120deg, #f50581 0%, #f81337 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    background-position: 50% 100%;
    background-size: 100% 200%;

    margin-bottom: 0;
}

.feature-panel .lateral-bar{
    width: 25%;
}

@media screen and (min-width : 734px){
    

    .feature-panel.design .subtitle{
        font-size: 2.5rem;
        margin-bottom: 0;
        letter-spacing: 0.012em;
    }

    .feature-panel .lateral-bar{
        width: 38%;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
}

@media screen and (min-width : 1024px){
    
    .feature-panel.design{
        align-items: flex-start;
        letter-spacing: 0.009em;
    }

    .feature-panel.design .content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        min-width: 100%;
    }

    .feature-panel .description_container{
        margin-bottom: 6rem;
        min-width: 80%;
    }

    .feature-panel .content .sub_flex{
        display: flex;
        align-items: flex-end;
        gap: 2rem;
        margin-left: 4rem;
        min-width: 100%;
    }

    .feature-panel .sub_flex__centred{
        display: flex;
    }
    .feature-panel .lateral-bar{
        width: 130px; 
    }

    .feature-panel.design .title{
        font-size: 1.2rem;
    }
    .feature-panel.design .subtitle{
        font-size: 4rem;
        min-width: 30rem;
        max-width: 70%;
        /* background: orangered; */
    }
    
    .feature-panel.design .description{
        font-size: 1.2rem;
        max-width: 80%;
    }
    .feature-panel .video-container{
        width: 20%;
        flex-shrink: 1;

    }
}






/*-------- MEMORY PANEL ---------*/

.feature-panel.memory .title{
    margin-bottom: 10rem;
}

.feature-panel.memory .description{
    color:#a1a1a6;
    font-size: 1.25rem;
    line-height: 1.2;
    letter-spacing: .015em;
    margin-bottom: 10rem;
}

.feature-panel.memory .accent{
    color:#ffffff;
}


.feature-panel .memory-icon{
    margin-bottom: 1.2rem;
}


@media screen and (min-width : 734px){
    .feature-panel.memory .title{
        font-size: 1.25rem;
    }

    .feature-panel.memory .description{
        font-size: 1.5rem;
    }
    
}

@media screen and (min-width : 1024px){
    .feature-panel.memory .title{
        font-size: 1.5rem;
        margin-bottom: 4rem;
    }
    .feature-panel.memory .description{
        font-size: 1.75rem;
        margin-bottom: 3rem;
    }

    .feature-panel .memory-icon{
        width: 15%;
    }
    
}


/*----- SSD -----*/

.feature-panel.ssd{
    background-image: linear-gradient(-135DEG,#A137BC 0%,#D83C48 100%);
}

.feature-panel.ssd .description{
    margin-bottom: 1rem;
}

.feature-panel.ssd .image-container{
    width: 32rem;
    height: 27rem;
}

.feature-panel.ssd .image{
    width   :   100%;
    height  :   100%;
    position:   absolute;
    left    :   5rem;
    
}

@media screen and (min-width : 734px){

    .feature-panel.ssd .image-container{
        /* width: 44rem; */
        /* height: 38rem; */
        bottom: -5rem;
        /* left: 1rem; */
    }

}

@media screen and (min-width : 1024px){
    .feature-panel.ssd .image-container{
        width: 44rem;
        height: 38rem;
        bottom: -1rem;
        left: 1rem;
    }

}

/* SECURITY */

.feature-panel.security{
    background-color: var(--bg-color-alt);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feature-panel.security .message{
    margin-bottom: 2rem;
    font-size: var(--small-tittle-size);
    color: var(--text-color-alt);
    text-align: center;
    white-space: nowrap;
}

.feature-panel.security .padlock{
    margin-inline: auto ;
    margin-bottom: 2rem;
    width: 6.25rem;
    height: 8rem;
    background-image: url('/media/img/padlock-sprite.png');
    background-size: 800px 1152px;
    background-repeat: no-repeat;

    /*ANIMATION*/
    animation: unlock-animation 0s steps(1) forwards;
    animation-play-state: paused;
    animation-iteration-count:initial;
    animation-duration: 72s;
    background-position: 0 0;
}

.feature-panel.security .button{
    margin-inline:auto;
    margin-bottom: var(--padding);
}


/*THUNDERBOLT*/
.feature-panel.thunderbolt{
    min-height: 42.5rem;
}

.feature-panel.thunderbolt .description{
    max-width: var(--large-max-width);
}

@media screen and (min-width:1024px) {
    .feature-panel.thunderbolt .description{
       max-width: var(--medium-max-width);
    }
}

.feature-panel.wifi{
    background: linear-gradient(140deg, #e349c4 0%, #7748EF 100%);
    min-height: 42.5rem;
}


.feature-panel.wifi .wrapper{
    text-align: center;
    padding-block: 1rem 2 rem;
}
.feature-panel.wifi .icon{
    width: 7.5rem;
}

.feature-panel.wifi .sub-caption{
    font-size: 1.25rem;
    font-weight: var(--semi-bold-font);
}

.feature-panel.wifi .big-title{
    font-family: var(--display-font);
}

@media screen and (min-width:1024px) {
    .feature-panel.wifi .icon{
       width: 8.5rem;
    }
}

/*AR*/

.feature-panel.ar{
    
    padding-inline: 0;
    background-color: var(--bg-color-alt);
}

.feature-panel.ar .icon{
    width: 2rem;
    margin-bottom: 1.25rem;
}

.feature-panel.ar .image-container{
    display: flex;
    align-items: flex-end;
    margin-inline: auto;
    margin-top: 2.5rem;
    margin-bottom: -2.5rem;
    width: 17rem;
}

@media screen and (min-width : 734px){

    .feature-panel.ar{
        display: flex;
        text-align: left;
        padding-left: 8%;
    }

    .feature-panel.ar .content{
        padding: 0;
        margin: auto;
    }
    
    .feature-panel.ar .image-container{
        width: 19rem;
    }
}

@media screen and (min-width : 1024px){

    .feature-panel.ar .icon{
        width: 3.25rem;
    }

    .feature-panel.ar .image-container{
        width: 25.5rem;
    }

}

/*Mac Os*/
.feature-panel.mac-os{
    flex-direction: column;
}

.feature-panel.mac-os .icon{
    height: 1.25rem;
    margin-bottom: 0.75rem;
}

.feature-panel.mac-os .link{
    color: inherit;
}



@media screen and (min-width : 1024px){
   .feature-panel.mac-os .ICON{
        height: 1.75rem;
    }
}

/* ACCESORIOS*/

.feature-panel.accesories{
    background-color: var(--bg-color-alt);
    padding-inline: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
}


.feature-panel.accesories .image-container{
    width: 100%;   
    margin-top: auto; 
} 


.feature-panel.accesories .image-accesories{
    display: block;
    margin-top: 2rem;
    background-size: cover;
}

/*TRADE - IN*/

.feature-panel.trade-in{
    background-color: var(--bg-color-alt);
}

.feature-panel.trade-in .mac-image{
    display: block;
    margin-inline: auto  ;
    width: 10rem;
}


@media screen and (min-width : 734px){
    .feature-panel.trade-in .content{
        max-width: initial;
    }
}

@media screen and (min-width : 1024px){
    .feature-panel.trade-in .content{
        max-width: 47.5rem;
        margin-inline: auto;
    }

    .feature-panel.trade-in .link{
        margin-bottom: 3rem;
    }

    .feature-panel.trade-in .mac-image{
        width: 14.5rem;
    }

}


.last-grid-section{
    position: relative;
    z-index: 0;
    background-color: var(--bg-color);
}

.last-grid-section .grid-section{
    padding-block: 2rem;

}


/*MEDIDAS MINIMAS*/

.feature-panel:is(.ar,.mac-os,.hero-panel){
    min-height: 31rem;
}

@media screen and (min-width : 1024px){
    .feature-panel:is(.ar,.mac-os,.hero-panel){
        min-height: 38rem;
    }
}